@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Avenir Next LT Pro', sans-serif;
}

h1,
h2 {
  font-family: 'Prototype', sans-serif;
}

@layer components {
  .Deluxe {
    @apply bg-purple-100 text-purple-700;
  }

  .Premium {
    @apply bg-gray-100 text-gray-700;
  }

  .Exclusive {
    @apply bg-amber-100 text-amber-700;
  }

  .Standard {
    @apply bg-blue-100 text-blue-700;
  }

  .district {
    @apply bg-gray-200 text-gray-700;
  }

  .ACTIVE {
    @apply bg-green-200 text-gray-700 px-2 text-sm rounded-full;
  }

  .CANCELLED {
    @apply bg-red-200 text-gray-700 px-2 text-sm rounded-full;
  }

  .magnify {
    @apply hover:shadow-lg hover:scale-105 transition-all;
  }

  .btn-primary-gradient {
    background: linear-gradient(
      103.54deg,
      #66dfc4 -4.84%,
      #7fa8ec 16.16%,
      #a96cee 47.66%,
      #ec8bc0 72.34%,
      #f9c294 95.97%
    );
  }
}

@font-face {
  font-family: 'Prototype';
  src: local('Prototype'), url(/src/assets/fonts/Prototype.woff) format('woff');
}
