@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Avenir Next LT Pro', sans-serif;
}

h1,
h2 {
  font-family: 'Prototype', sans-serif;
}

select {
  appearance: none;
  padding: 10px;
  padding-top: 30px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1.3em + 2px),
    calc(100% - 15px) calc(1.3em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  border-color: rgb(166, 69, 235);
  outline: 0;
}

option {
  padding: 8px;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.skeleton {
  --text-opacity: 0;
  background-image: linear-gradient(
    100deg,
    #edf2f7 0%,
    #f4f7fa 20%,
    #edf2f7 40%
  );
  background-position: 50%;
  background-size: 200%;
  animation: skeleton 1.25s infinite linear;
}

.skeleton-teal {
  background-image: linear-gradient(
    100deg,
    #b4c5f8 0%,
    #cad8f9 20%,
    #b4c5f8 40%
  );
}

.skeleton-white {
  background-image: linear-gradient(
    100deg,
    #f9fafb 0%,
    #ffffff 20%,
    #f9fafb 40%
  );
}

@keyframes skeleton {
  0% {
    background-position: 50%;
  }
  50%,
  100% {
    background-position: -100%;
  }
}

@layer components {
  .DELUXE {
    @apply bg-purple-100 text-purple-700;
  }

  .PREMIUM {
    @apply bg-gray-100 text-gray-700;
  }

  .EXCLUSIVE {
    @apply bg-amber-100 text-amber-700;
  }

  .STANDARD {
    @apply bg-[#EBF2FA] text-[#16192C];
  }

  .district {
    @apply bg-gray-200 text-gray-700;
  }

  .ACTIVE {
    @apply bg-green-200 text-gray-700 px-2 py-1 text-sm rounded-full;
  }

  .CANCELLED {
    @apply bg-red-200 text-gray-700 px-2 py-1 text-sm rounded-full;
  }

  .ACCEPTED {
    @apply bg-blue-200 text-gray-700 px-2 py-1 text-sm rounded-full;
  }

  .DECLINED {
    @apply bg-yellow-200 text-gray-700 px-2 py-1 text-sm rounded-full;
  }

  .magnify {
    @apply hover:shadow-lg transition-all;
  }

  .btn-primary-gradient {
    background: linear-gradient(
      103.54deg,
      #66dfc4 -4.84%,
      #7fa8ec 16.16%,
      #a96cee 47.66%,
      #ec8bc0 72.34%,
      #f9c294 95.97%
    );
  }
}

@font-face {
  font-family: 'Prototype';
  font-style: normal;
  font-weight: 400;
  src: local('Prototype'),
    url('https://fonts.cdnfonts.com/s/6604/Prototype.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir Next LT Pro'),
    url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-Regular.woff')
      format('woff');
}
